<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/common :: head('GALLERY 수정')"></div>
<body>


<div th:replace="fragments/common :: menu('board')"></div>

<main class="container">


    <form th:object="${board}" >

        <input type="hidden" id="id" th:field="*{boardId}">
        <div class="form-group">
            <label for="title">제02목</label>
            <input type="text" class="form-control" id="title" th:field="*{boardTitle}">
        </div>
        <div class="form-group">
            <label for="content">내02용지</label>
            <textarea class="form-control" id="content" rows="8" th:field="*{boardContent}"></textarea>
        </div>
    </form>
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button id="btn_update" class="btn btn-primary">수정</button>
    <button id="btn_delete" class="btn btn-primary">삭제</button>

    <div class="card">
        <div class="card-body"><textarea class="form-control" rows="1"></textarea></div>
        <div class="card-footer">
            <button class="btn btn-primary">등록</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">댓글리스트</div>
        <ul class="list-group">
            <li class="list-group-item">FirstItem</li>
            <li class="list-group-item">FirstItem</li>
            <li class="list-group-item">FirstItem</li>
            <li class="list-group-item">FirstItem</li>
        </ul>
    </div>


</main>
<!-- /.container -->

<div th:replace="fragments/common :: script"></div>

</body>
</html>