<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/common :: head('스게시판')"></div>

    <body>

        <div th:replace="fragments/common :: menu('board')"></div>

        <main role="main" class="container">

            <div class="starter-template">
                <h2>게시판</h2>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boards}">
                        <td th:text="${board.boardId}"></td>
                        <td><a th:href="@{/board/detail(id=${board.boardId})}" th:text="${board.boardTitle}">Mark</a></td>
                        <td th:text="${board.MemberName}">Otto</td>
                        <td th:text="${#temporals.format(board.boardDate,'yyyy-MM-dd HH:mm')} ">Otto</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a type="button" class="btn btn-primary"th:href="@{/board/save}">글쓰기</a>
            </div>


            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${prev}">
                    <a class="page-link" th:href="@{/board/list?(page=${start -1})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>


                <li class="page-item active" aria-current="page" th:each="page : ${pageList}">
                    <a class="page-link" th:href="@{/board/list(page=${page})}">[[${page}]]<span class="sr-only"></span></a>
                </li>

                <li class="page-item" th:if="${next}">
                    <a class="page-link"  th:href="@{/board/list?(page=${end+1})}">Next</a>
                </li>
            </ul>


        </main>
        <!-- /.container -->


    <div th:replace="fragments/common :: script"></div>
    </body>
</html>