<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/common :: head('스게시판')"></div>

    <body>

        <div th:replace="fragments/common :: menu('board')"></div>

        <main role="main" class="container">

            <div class="starter-template">
                <h2>게시판</h2>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boards}">
                        <th th:text="${board.boardId}">1</th>
                        <td><a th:href="@{/board/detail(id=${board.boardId})}" th:text="${board.boardTitle}">Mark</a></td>
                        <td th:text="${board.MemberName}">Otto</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a type="button" class="btn btn-primary"th:href="@{/board/save}">글쓰기</a>
            </div>

        </main>
        <!-- /.container -->


    <div th:replace="fragments/common :: script"></div>
    </body>
</html>