<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/common :: head('좋아요')"></div>
<body>


<div th:replace="fragments/common :: menu('like')"></div>
<link rel="stylesheet" href="/css/userLike.css">

<main class="container">

    <h2 class="starter-template">myLike</h2>

    <div class="likeBoard" >
        <ul>
            <li th:each="userLikeBoardDto : ${userLikeBoardDtoList}">
                <a th:href="@{/board/detail(id=${userLikeBoardDto.boardId})}">
                    <img th:src="${userLikeBoardDto.uploadResultDto.fileName}" th:alt="|이미지 ${userLikeBoardDto.boardId}|">
                </a>
            </li>
        </ul>

    </div>



</main><!-- /.container -->

<div th:replace="fragments/common :: script"></div>


</body>
</html>