<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/common :: head('CY GALLERY')"></div>

<!-- materialize  -->
<link rel="stylesheet" href="/css/materialize.min.css">
<link rel="stylesheet" href="/css/index.css">

    <body>
     <div th:replace="fragments/common :: menu('home')"></div>
        <main role="main" class="">

            <!-- info -->
            <div class="info">
                <div class="profile"><img src="" alt=""></div>
                <div class="name"></div>
                <div class="sns"></div>
            </div>

            <!-- slide -->
            <div class="carousel" >
                <a class="carousel-item" th:each="boardNew : ${boardNewDtos}" th:href="@{/board/detail(id=${boardNew.boardId})}">
                    <div class="carousel-frame">
                        <img th:src="${boardNew.boardImage.imgName}" th:alt="|이미지 ${boardNew.boardId}|">
                    </div>
                </a>

            </div>


        </main>
        <!-- /.container -->

        <div th:replace="fragments/common :: script"></div>
    </body>
</html>