<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/common :: head('헬스프링쿠트')"></div>
<link rel="stylesheet" href="/css/index.css">
    <body>

        <div th:replace="fragments/common :: menu('home')"></div>
        <main role="main" class="container">

            <div class="starter-template">
                <h1>Art musium</h1>
                <div>NEW</div>
            </div>


            <div class="new_board">
                <ul>
                    <li th:each="boardNew : ${boardNewDtos}">
                        <a th:href="@{/board/detail(id=${boardNew.boardId})}">
                            <img th:src="|/display?fileName=${boardNew.uploadResultDto.getImageURL()}|" th:alt="|이미지 ${boardNew.boardId}|">
                        </a>
                    </li>


                </ul>




            </div>


        </main>
        <!-- /.container -->




        <div th:replace="fragments/common :: script"></div>
    </body>
</html>